body {
    background-color: slategrey;
    margin-top: 10px;
}

.bg-azure {
    background-color: azure;
}

.bg-white {
    background-color: white;
}

.bg-khaki {
    background-color: khaki;
}

.fs-12 {
    font-size: 12px;
}